<!doctype html>
<title>coffe shop</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/index.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/new.css') }}">
<script
  src="http://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/custom.js')}}"> 
</script>
<script src="https://kit.fontawesome.com/318709f8b7.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="navbar-nav ml-3">
      <li class="nav-item">
          <a  class="nav-link"  href="/home">Home</a>
        </li>
    <li class="nav-item">
      <a  class="nav-link"  href="/drink_menu" >Drink</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/food_menu">Food</a>
    </li>
    <li class=" nav-item">
      <a href="/user/me/" class="nav-link">Profile</a>
    </li>  
    <li class="nav-item">
        <a  class="nav-link" href="/logout">Logout</a>
    </li>
    {% if current_user.admin == True%}
    <li class="nav-item">
      <a href="/admin_drink" class="nav-link">Add Drink</a>
    </li>
    <li class="nav-item">
      <a href="/admin_food" class="nav-link">Add Food</a>
    </li>
    {%endif%}
  </ul>
</nav>
<div class="container-fluid">

    
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
<div class="row">
  <div class="col-12">
      {% block content %}
      {% endblock %}
  </div>
 
</div>
 
</div>