<!doctype html>
{% extends "layout.html" %}
{% block title %}
User prpfile edit
{% endblock %}

{% block content  %}
<div class="card w-50 mx-auto">
    <div class="card-body">
        <h2>Edit user</h2>
        <form action="" method="post">
            <dl>
                <dt>Screen Name:</dt>
                <dd><input class = "form-control" type="text"  name="screen_name" value="{{ user.screen_name if user }}"></dd>
                <dt>Email:</dt>
                <dd><input class = "form-control" type="text"  name="email" value="{{ user.email if user }}"></dd>
                <dt>Tel :</dt>
                <dd><input type="number" class="form-control" name="tel" value="{{ user.tel if user }}"></dd>

                <dd><input class = "btn btn-primary" type="submit" value="save"></dd>
            </dl>
        </form>
    </div>
    
</div>
{% endblock %}